<br>
<div class='text-left'>
    <h2>プロフィール</h2>
</div>

<table class='table table-striped'>
    <tr>
        <th class='text-left'>性別</th>
        <td><%= user.sex %></td>
    </tr>
    <tr>
        <th class='text-left'>メールアドレス</th>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <th class='text-left'>電話番号</th>
        <td><%= user.phonenumber %></td>
    </tr>
    <tr>
        <th class='text-left'>住所</th>
        <td><%= user.adress %></td>
    </tr>
    <tr>
        <th class='text-left'>活動拠点</th>
        <td><%= user.placeofactivity %></td>
    </tr>
    <tr>
        <th class='text-left'>得意ジャンル</th>
        <td><%= user.genre %></td>
    </tr>
    <tr>
        <th class='text-left'>自己紹介</th>
        <td><%= user.introduce %></td>
    </tr>
    
    
</table>