<br>
    <div class="text-center">
       <h1>ポートフォリオ編集</h1>
    </div>
<br>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
      <%= form_with(model: @videopost, local: true) do |f| %>
      
        <%= f.label :youtube_title, 'YouTubeタイトル' %>
        <div class="form-group input-group">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fab fa-youtube"></i></span>
           </div>
          <%= f.text_field :youtube_title, class: 'form-control' %>
        </div>
        
        <%= f.label :youtube_url, 'YouTube URL' %>
        <div class="form-group input-group">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fab fa-youtube"></i></span>
           </div>
          <%= f.text_field :youtube_url, class: 'form-control' %>
        </div>
    
    
    
    
    <br>
    　<div class='offset-5'>
         <%= f.submit '登録', class: 'btn btn-info btn-md' %>
      </div>
    <% end %>
  </div>
</div>